@media (max-width: 40em) {
   main {
      header {
         h1 {
            font-size: 2rem;
            line-height: 1.75;
            text-align: left;
         }

         h3 {
            font-size: .95rem;
            text-align: left;

            &::after {
               animation: changeColors 5s ease infinite;
               background: linear-gradient(270deg, #2afc9c, #fb6769, #9740fa, #22cdfb, #fff39f);
               background-size: 1000% 1000%;
               border-radius: 2em;
               content: '';
               display: block;
               height: .45em;
               margin: 0 auto;
               margin-top: 2em;
               width: 100%;
            }
         }
      }

      section {
         form {
            flex-flow: column nowrap;
            width: 100%;

            input[type=text] {
               border-radius: 0;
               margin-bottom: .5em;
            }

            input[type=submit] {
               border-radius: 0;
            }
         }
      }
   }

   section#gifs {
      padding: .5em;

      .gifs-container {
         grid-template-columns: repeat(1, 1fr) !important;
      }
   }
}

@media (max-width: 50em) {
   section#gifs {
      .gifs-container {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}