* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

html {
  background: #232B2B;
}

html,
body {
  font-family: 'Montserrat';
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #DC3D24;
  font-family: 'Russo One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#particles-js {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

main {
  margin: 0 auto;
  margin-top: 3em;
  max-width: 55em;
  padding: .5em;
  position: relative;
  text-align: center;
  z-index: 10;
}

main header h1 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: .05em;
  text-transform: uppercase;
  white-space: nowrap;
}

main header h1 span {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
}

main header h1 span:nth-child(1) {
  color: #2AFC9C;
}

main header h1 span:nth-child(2) {
  color: #FB6769;
}

main header h1 span:nth-child(3) {
  color: #9740FA;
}

main header h1 span:nth-child(4) {
  color: #22CDFB;
}

main header h1 span:nth-child(5) {
  color: #FFF39F;
  margin-right: .5em;
}

main header h3 {
  color: #E3AE57;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Montserrat';
  letter-spacing: .125em;
  text-transform: uppercase;
  white-space: nowrap;
}

main header h3::after {
  -webkit-animation: changeColors 5s ease infinite;
          animation: changeColors 5s ease infinite;
  background: -webkit-gradient(linear, right top, left top, from(#2afc9c), color-stop(#fb6769), color-stop(#9740fa), color-stop(#22cdfb), to(#fff39f));
  background: linear-gradient(270deg, #2afc9c, #fb6769, #9740fa, #22cdfb, #fff39f);
  background-size: 1000% 1000%;
  border-radius: 2em;
  content: '';
  display: block;
  height: .45em;
  margin: 0 auto;
  margin-top: 2em;
  width: 75%;
}

main header h3 a {
  color: inherit;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 75%;
}

section form input {
  background: none;
  border: 2px solid #3a4747;
  color: #fff;
  padding: 1em .75em;
  letter-spacing: .125em;
}

section form input[type=text] {
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

section form input[type=submit] {
  border-top-right-radius: .4em;
  border-bottom-right-radius: .4em;
  cursor: pointer;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  text-transform: uppercase;
}

section#gifs .gifs-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  margin-top: 3em;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

section#gifs .gifs-container article {
  position: relative;
}

section#gifs .gifs-container article a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

section#gifs .gifs-container article img {
  -webkit-animation: FadeIn 1s linear;
          animation: FadeIn 1s linear;
  display: block;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes changeColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes changeColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-45deg) translateY(30px);
            transform: rotate(-45deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-45deg) translateY(30px);
            transform: rotate(-45deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@media (max-width: 40em) {
  main header h1 {
    font-size: 2rem;
    line-height: 1.75;
    text-align: left;
  }
  main header h3 {
    font-size: .95rem;
    text-align: left;
  }
  main header h3::after {
    -webkit-animation: changeColors 5s ease infinite;
            animation: changeColors 5s ease infinite;
    background: -webkit-gradient(linear, right top, left top, from(#2afc9c), color-stop(#fb6769), color-stop(#9740fa), color-stop(#22cdfb), to(#fff39f));
    background: linear-gradient(270deg, #2afc9c, #fb6769, #9740fa, #22cdfb, #fff39f);
    background-size: 1000% 1000%;
    border-radius: 2em;
    content: '';
    display: block;
    height: .45em;
    margin: 0 auto;
    margin-top: 2em;
    width: 100%;
  }
  main section form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
  main section form input[type=text] {
    border-radius: 0;
    margin-bottom: .5em;
  }
  main section form input[type=submit] {
    border-radius: 0;
  }
  section#gifs {
    padding: .5em;
  }
  section#gifs .gifs-container {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 50em) {
  section#gifs .gifs-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */